[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RecordLinkage"]
	path = RecordLinkage
	url = https://github.com/cran/RecordLinkage
	shallow = true
	registered = true
